body {
  background-color: #242423;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 50vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  color: #F3F3F3;
  text-align: center;
}

#time {
  color: #F3F3F3;
  font-size: 50px;
}


